# PANDAS VISUALIZATION 
## HW 3

In [ ]:
import pandas as pd
import numpy as np
import os

from sklearn import preprocessing

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [73]:
path = os.getcwd()
files = os.listdir(path)
files_csv = [f for f in files if f[-3:] == 'csv']
files_csv

['2015.csv', '2016.csv', '2017.csv']

In [82]:
n = len(files_csv)

In [83]:
n

3

In [127]:
df_raw = pd.DataFrame()

for i in range(n):
    data = pd.read_csv(files_csv[i])
    data['Year'] = int(files_csv[i][0:4])
    df_raw = df_raw.append(data)

df_raw = df_raw.fillna(0)

In [97]:
df_raw.head()

,Country,Dystopia Residual,Dystopia.Residual,Economy (GDP per Capita),Economy..GDP.per.Capita.,Family,Freedom,Generosity,Happiness Rank,Happiness Score,...,Health..Life.Expectancy.,Lower Confidence Interval,Region,Standard Error,Trust (Government Corruption),Trust..Government.Corruption.,Upper Confidence Interval,Whisker.high,Whisker.low,Year
0,Switzerland,2.51738,NaN,1.39651,NaN,1.34951,0.66557,0.29678,1.0,7.587,...,NaN,NaN,Western Europe,0.03411,0.41978,NaN,NaN,NaN,NaN,2015
1,Iceland,2.70201,NaN,1.30232,NaN,1.40223,0.62877,0.43630,2.0,7.561,...,NaN,NaN,Western Europe,0.04884,0.14145,NaN,NaN,NaN,NaN,2015
2,Denmark,2.49204,NaN,1.32548,NaN,1.36058,0.64938,0.34139,3.0,7.527,...,NaN,NaN,Western Europe,0.03328,0.48357,NaN,NaN,NaN,NaN,2015
3,Norway,2.46531,NaN,1.45900,NaN,1.33095,0.66973,0.34699,4.0,7.522,...,NaN,NaN,Western Europe,0.03880,0.36503,NaN,NaN,NaN,NaN,2015
4,Canada,2.45176,NaN,1.32629,NaN,1.32261,0.63297,0.45811,5.0,7.427,...,NaN,NaN,North America,0.03553,0.32957,NaN,NaN,NaN,NaN,2015

In [93]:
df_raw.tail()

,Country,Dystopia Residual,Dystopia.Residual,Economy (GDP per Capita),Economy..GDP.per.Capita.,Family,Freedom,Generosity,Happiness Rank,Happiness Score,...,Health..Life.Expectancy.,Lower Confidence Interval,Region,Standard Error,Trust (Government Corruption),Trust..Government.Corruption.,Upper Confidence Interval,Whisker.high,Whisker.low,Year
150,Rwanda,NaN,0.540061,NaN,0.368746,0.945707,0.581844,0.252756,NaN,NaN,...,0.326425,NaN,NaN,NaN,NaN,0.455220,NaN,3.543030,3.398970,2017
151,Syria,NaN,1.061574,NaN,0.777153,0.396103,0.081539,0.493664,NaN,NaN,...,0.500533,NaN,NaN,NaN,NaN,0.151347,NaN,3.663669,3.260331,2017
152,Tanzania,NaN,0.621130,NaN,0.511136,1.041990,0.390018,0.354256,NaN,NaN,...,0.364509,NaN,NaN,NaN,NaN,0.066035,NaN,3.461430,3.236570,2017
153,Burundi,NaN,1.683024,NaN,0.091623,0.629794,0.059901,0.204435,NaN,NaN,...,0.151611,NaN,NaN,NaN,NaN,0.084148,NaN,3.074690,2.735310,2017
154,Central African Republic,NaN,2.066005,NaN,0.000000,0.000000,0.270842,0.280876,NaN,NaN,...,0.018773,NaN,NaN,NaN,NaN,0.056565,NaN,2.864884,2.521116,2017

In [104]:
df_raw['Year'].unique()

array([2015, 2016, 2017], dtype=int64)

In [105]:
df_raw['Year'].dtype

dtype('int64')

In [106]:
for i in df_raw.columns:
    print(i)

Country
Dystopia Residual
Dystopia.Residual
Economy (GDP per Capita)
Economy..GDP.per.Capita.
Family
Freedom
Generosity
Happiness Rank
Happiness Score
Happiness.Rank
Happiness.Score
Health (Life Expectancy)
Health..Life.Expectancy.
Lower Confidence Interval
Region
Standard Error
Trust (Government Corruption)
Trust..Government.Corruption.
Upper Confidence Interval
Whisker.high
Whisker.low
Year

In [125]:
df_raw['Dystopia Residual'] = df_raw['Dystopia Residual'] + df_raw['Dystopia.Residual']
df_raw['Economy (GDP per Capita)'] = df_raw['Economy (GDP per Capita)'] + df_raw['Economy..GDP.per.Capita.']
df_raw['Happiness Rank'] = df_raw['Happiness Rank'] + df_raw['Happiness.Rank']
df_raw['Happiness Score'] = df_raw['Happiness Score'] + df_raw['Happiness.Score']
df_raw['Health (Life Expectancy)'] = df_raw['Health (Life Expectancy)'] + df_raw['Health..Life.Expectancy.']
df_raw['Trust (Government Corruption)'] = df_raw['Trust (Government Corruption)'] + df_raw['Trust..Government.Corruption.']



#Whisker.high
#Whisker.low






df_raw = df_raw.drop('Dystopia.Residual', 'Economy..GDP.per.Capita.', 'Happiness.Rank', axis = 1)

In [126]:
df_raw[df['Country'] == 'Denmark']

,Country,Dystopia Residual,Economy (GDP per Capita),Economy..GDP.per.Capita.,Family,Freedom,Generosity,Happiness Rank,Happiness Score,Happiness.Rank,...,Health..Life.Expectancy.,Lower Confidence Interval,Region,Standard Error,Trust (Government Corruption),Trust..Government.Corruption.,Upper Confidence Interval,Whisker.high,Whisker.low,Year
2,Denmark,2.492040,1.32548,0.000000,1.360580,0.649380,0.34139,3.0,7.527,0.0,...,0.000000,0.00,Western Europe,0.03328,0.48357,0.00000,0.000,0.000000,0.000000,2015
0,Denmark,2.739390,1.44178,0.000000,1.163740,0.579410,0.36171,1.0,7.526,0.0,...,0.000000,7.46,Western Europe,0.00000,0.44453,0.00000,7.592,0.000000,0.000000,2016
1,Denmark,2.313707,0.00000,1.482383,1.551122,0.626007,0.35528,0.0,0.000,2.0,...,0.792566,0.00,0,0.00000,0.00000,0.40077,0.000,7.581728,7.462272,2017